{
  "checks": {
{% for key, value in websites.iteritems() %}
    "{{ key }}": {
      "command": "/etc/sensu/plugins/check-http.rb -u {{ key }} -q '{{ value }}'",
      "standalone": true,
      "interval": 60,
      "refresh": 60      
    },
{% endfor %}
  }
}
