{
  "mailer": {
  "mail_from": "sensu@example.com",
  "mail_to": "user@host",
  "smtp_address": "localhost",
  "smtp_port": "25",
  "smtp_domain": "localhost",
  "subscriptions": {
  "subscription_name":
    {
      "mail_to": "user@host" }
    }
  }
}
