{
  "sensu": [
{% for key, value in sensu_server_apis.iteritems() %}
    {
      "name": "{{ key }}",
      "host": "{{ value }}",
      "port": 4567,
      "ssl": false,
      "path": "",
      "user": "",
      "pass": "",
      "timeout": 10
    }{% if not loop.last %},
{% endif %}
{% endfor %}

  ],
  "uchiwa": {
{% if sensu_server_uchiwa_ssl is defined %}
    "ssl": {
      "certfile": "{{ sensu_server_ssl }}/uchiwa-cert.pem",
      "keyfile": "{{ sensu_server_ssl }}/uchiwa-privkey.pem"
    },
{% endif %}
    "host": "0.0.0.0",
    "port": 3000,
    "refresh": 10,
    "users": [
{% for user in sensu_server_uchiwa_users %}
      {
        "username": "{{ user.name }}",
        "password": "{{ user.password }}",
        "accessToken": "{{ user.accessToken }}",
{% filter lower %}
        "readonly": {{ user.readonly }}
{% endfilter %}
      }{% if not loop.last %},
{% endif %}
{% endfor %}

    ]
  }

